<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>About Me</h1>
  <p>Created by: <strong>Jave Danielle M. Gamboa</strong></p>
  <p>Course: BS Computer Engineering</p>
  <p>University: Batangas State University</p>
  <p>Email: <a href="mailto:23-03647@g.batstate-u.edu.ph">23-03647@g.batstate-u.edu.ph</a></p>

  <hr>
  <div class="nav">
    <a href="/">Home</a> | <a href="/contact">Contact</a>
  </div>
</body>
</html>
